<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>The INDRA Database: Monitor</title>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://bigmech.s3.amazonaws.com/indra-db/IndralabVue.umd.min.js"></script>
  <link href="https://bigmech.s3.amazonaws.com/indra-db/IndralabVue.css"
        rel="stylesheet">
</head>
</body>
<div id="app">
  <time-view></time-view>
  <amount-view></amount-view>
</div>
<script>
  Vue.prototype.$time_view_url = "{{ url_for('serve_runtime') }}";
  Vue.prototype.$amount_view_url = "{{ url_for('serve_stages', stage='') }}";
  var app = new Vue({el: '#app'});
</script>
</body>
</html>
