{% extends "indra/statements_view.html" %}

{% block scripts %}
    {{ super() }}

    <script src="{{ url_for('serve_js') }}"></script>
    <script>
        let CURATION_ADDR = "{{ url_for('submit_curation_endpoint', hash_val='') }}"
    </script>

    <style>
        #overlay {
            position: fixed;
            display: none;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 2;
            cursor: pointer;
        }

        #overlay-form-div {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 50px;
            color: white;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            padding: 1em;
        }

        #x-out {
            border-radius: 25px;
            height: 50px;
            width: 50px;
            position: absolute;
            top: 30px;
            right: 30px;
        }
    </style>

{% endblock %}

{% block body %}
    <div id="overlay">
        <button class="btn btn-danger" id="x-out">x</button>
        <div id="overlay-form-div">
            <form id="overlay-form" onsubmit="return false;">
                email <input name="email"
                             type='text' class="form-control"
                             placeholder="your@email.com"> <br>
                api key (optional) <input name="api_key"
                                          type='text' class="form-control"
                                          placeholder="optional api key"> <br>
                <button class="btn" type='submit' id="overlay-button">Submit
                </button>
            </form>
        </div>
    </div>

    {{ super() }}
{% endblock %}

{% block header_desc %}
    {% include "idbr_description.html" %}

    {{ super() }}
{% endblock %}


{% block additional_footer %}
    {{ super() }}

    {% include "idbr_footer.html" %}
{% endblock %}
