{% extends "indra/statements_view.html" %}
{% from "idbr_template.html" import login_overlay %}

{% block scripts %}
    {{ super() }}

    <script src="{{ url_for('serve_js') }}"></script>
    <script>
        let CURATION_ADDR = "{{ url_for('submit_curation_endpoint', hash_val='') }}";
    </script>

{% endblock %}

{% block body %}
    {{ login_overlay() }}
    {{ super() }}
{% endblock %}

{% block header_desc %}{% include "idbr_description.html" %}{{ super() }}{% endblock %}


{% block additional_footer %}
    {{ super() }}{% include "idbr_footer.html" %}
{% endblock %}
