{% extends "indra/indra_template.html" %}

{% macro login_overlay() -%}
    <style>
        #overlay {
            position: fixed;
            display: none;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 20;
            cursor: pointer;
        }

        #overlay-form-div {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 40px;
            color: black;
            background-color: lightgray;
            border-radius: 4px;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            padding: 1em;
            max-width: 15em;
        }

        .overlay-form {
            padding: 1em;
        }

        #x-out {
            border-radius: 25px;
            height: 50px;
            width: 50px;
            position: absolute;
            top: 30px;
            right: 30px;
        }

        .auth-tab {
            background-color: white;
            border-radius: 4px;
        }

        #overlay-message {
            font-size: 9pt;
            color: #803030;
            max-width: 10em;
        }
    </style>
    <script>
        let AUTH_URLS = {
            'login': "{{ url_for('login') }}",
            'register': "{{ url_for('register') }}",
            'logout': "{{ url_for('logout') }}"
        };

        function report_login_result(msg) {
            console.log(msg);
            document.querySelector('#overlay-message').textContent = msg;
        }

        function post_auth(action, json, on_complete) {
            $.ajax({
                url: AUTH_URLS[action],
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify(json),
                complete: on_complete
            });
        }

        function clear(item, email=true, password=true) {

            // Clear the password
            if (password) {
                if (item.type.value === 'register') {
                    item.password0.value = null;
                    item.password1.value = null;
                }
                else {
                    item.password.value = null;
                }
            }

            // Clear the email
            if (email) {
                item.email.value = null;
            }
        }

        function login(success_callback=null, failure_callback=null,
                       checked=false) {
            /// If we haven't already...
            if (!checked) {
                // double check to see if we're already logged in.
                post_auth('login', {}, (xhr) => {
                    if (xhr.status === 200)
                        success_callback('login', xhr.responseJSON);
                    else
                        return login(success_callback, failure_callback, true);
                    return false;
                });
                return false;
            }

            // Prep the overlay.
            const overlay = document.querySelector('#overlay');
            document.querySelector('#x-out').onclick = () => {
                // Abort the submit
                overlay.style.display = "none";
                return false;
            };
            document.querySelectorAll('.overlay-form').forEach((item, index) => {
                item.onsubmit = function () {
                    try {
                        // Log the result
                        console.log(`Got user email, ${this.email.value}, and password to ${this.type.value}`);

                        if (this.type.value === 'register') {

                            // Check the password
                            if (!this.email.value || !this.password0.value || !this.password1.value) {
                                report_login_result("Missing email or one of the passwords.");
                                return false;
                            } else if (this.password0.value !== this.password1.value) {
                                clear(this, false);
                                this.password.value = null;
                                report_login_result("Passwords don't match.");
                                return false;
                            } else if (this.password0.value.length < 8) {
                                clear(this, false);
                                report_login_result("Password too short.");
                                return false;
                            }

                            this.password = this.password0;
                        } else {
                            // Check for an email, if none, reject the form (do nothing)
                            if (!this.email.value || !this.password.value) {
                                report_login_result("Missing password or email.");
                                return false;
                            }
                        }

                        post_auth(
                            this.type.value,
                            {'email': this.email.value, 'password': this.password.value},
                            (xhr, statusText) => {
                                if (xhr.status !== 200) {
                                    let msg = xhr.responseJSON.message;
                                    if (!msg)
                                        msg = "Unknown Reason";
                                    report_login_result(`Could not ${this.type.value}: ${msg}`);

                                    // Clear the password field
                                    clear(this, false);

                                    if (failure_callback)
                                        failure_callback(this.type.value, xhr.responseJSON);
                                    return false;
                                }

                                // Clear the form
                                clear(this);

                                // Credentials should now be stored in a cookie if this was a login.
                                report_login_result(`Successful ${this.type.value}`);

                                // Hide the overlay again.
                                overlay.style.display = "none";

                                // Call the success callback function.
                                if (success_callback)
                                    success_callback(this.type.value, xhr.responseJSON);
                                return false;

                            }
                        );
                    } catch (e) {
                        console.log(`Error while trying to authenticate: ${e}`)
                    }
                    return false;
                };

                // Popup the overlay
                overlay.style.display = "block";
                return false;
            });
            return false;
        }

        function logout(callback) {
            console.log(`Sending request to logout`);
            post_auth('logout', {}, () => {return callback()});
        }
    </script>
    <div id="overlay">
        <button class="btn btn-danger" id="x-out">x</button>
        <div id="overlay-form-div">
            <center style="padding: 1em;">
                <img src="https://bigmech.s3.amazonaws.com/indra-db/indralab_logo.png" width="150em">
                <h1>IndraLab</h1>
            </center>
            <div class="container nav-container">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active show"
                           id="nav-login-tab"
                           data-toggle="tab" href="#nav-login" role="tab"
                           aria-controls="nav-login"
                           aria-selected="true">Login</a>
                        <a class="nav-item nav-link" id="nav-register-tab"
                           data-toggle="tab" href="#nav-register" role="tab"
                           aria-controls="nav-register"
                           aria-selected="false">Register</a>
                    </div>
                </nav>
            </div>
            <div class="tab-content" id="overlay-all-forms">
                <div class="tab-pane auth-tab fade active show" id="nav-login"
                     role="tabpanel" aria-labelledby="nav-login-tab">
                    <form class="form overlay-form" id="overlay-form-login"
                          onsubmit="return false;">
                        <input type="hidden" name="type" value="login">
                        email <input name="email"
                                     type='email' class="form-control"
                                     placeholder="your@email.com">
                        password <input name="password"
                                        type='password' class="form-control"
                                        placeholder="password">
                        <button class="btn btn-primary" type='submit'
                                id="overlay-button-login">
                            Login
                        </button>
                    </form>
                </div>
                <div class="tab-pane auth-tab fade" id="nav-register" role="tabpanel"
                     aria-labelledby="nav-register-tab">
                    <form class="form overlay-form" id="overlay-form-register"
                          onsubmit="return false;">
                        <input type="hidden" name="type" value="register">
                        email <input name="email"
                                     type='email' class="form-control"
                                     placeholder="your@email.com">
                        password <input name="password0"
                                        type='password' class="form-control"
                                        placeholder="password">
                        <input name="password1" type='password'
                               class="form-control" placeholder="repeat password">
                        <button class="btn btn-primary" type='submit'
                                id="overlay-button-register">
                            Register
                        </button>
                    </form>

                </div>
            </div>
            <small id="overlay-message"></small>
        </div>
    </div>
{%- endmacro %}

{% macro login_header(header, identity) -%}
    <script>
        function handle_success(type, resp_data) {
            const user_msg = document.querySelector('#user-loginout-msg');
            if (type === "login") {
                const btn = document.querySelector("#loginout-button");
                btn.innerHTML = 'Logout';
                btn.onclick = () => {return trigger_logout()};
                document.querySelector('#user-logoin');
                user_msg.innerHTML = `Welcome, ${resp_data.user_email}`;
                report_login_result(''); // clear the login result message
            }
            else if (type === "register") {
                trigger_login()
            }
            else { // logout
                const btn = document.querySelector("#loginout-button");
                btn.innerHTML = 'Login';
                btn.onclick = () => {return trigger_login()};
                user_msg.innerHTML = "Welcome"
            }
        }

        function trigger_login(type=null, data=null) {
            return login(handle_success, trigger_login)
        }

        function trigger_logout() {
            return logout(handle_success)
        }
    </script>
    <style>
        #loginout-button, #user-loginout-msg {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .no-horiz-pad {
            padding-left: 0;
            padding-right: 0;
        }
    </style>
    <div class="row align-center">
        <div class="col-auto no-horiz-pad">
            {{ header }}
        </div>
        <div class="col text-right no-horiz-pad">
            <span id="user-loginout-msg">
                {% if identity %}
                    Welcome {{ identity['email'] }}!
                {% else %}
                    Welcome
                {% endif %}
            </span>
            <button class="btn btn-primary"
                    onclick="return {% if identity %}trigger_logout(){% else %}trigger_login(){% endif %};"
                    id="loginout-button">
                {% if identity %}
                    Logout
                {%  else %}
                    Login
                {% endif %}
            </button>
        </div>
    </div>
{%- endmacro %}

{% block header %}
    {{ login_header(super(), identity) }}
{% endblock %}

{% block header_desc %}
    {% include "idbr_description.html" %}
{% endblock %}

{% block body %}
    {{ login_overlay() }}
    {{ super() }}
{% endblock %}

{% block additional_footer %}
    {% include "idbr_footer.html" %}
{% endblock %}
