{% extends "idbr_template.html" %}

{% block scripts %}
{{ super() }}

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://bigmech.s3.amazonaws.com/indra-db/IndralabVue.umd.js"></script>
<link href="https://bigmech.s3.amazonaws.com/indra-db/IndralabVue.css" rel="stylesheet">

<style>
  .frozen-box {
    background-color: #f0f0f0;
    border: 1px solid #a0a0a0;
    border-radius: 2px;
    padding: 5px;
  }
</style>

{% endblock %}

{% block body %}
  {{ super() }}
  <div id="app">
    <stmt-search></stmt-search>
  </div>
  <script src="{{ url_for('static', filename='form.js') }}"></script>
  <script>
    Vue.prototype.$ground_url = "{{ url_for('ground') }}";
    Vue.prototype.$search_url = "{{ url_for('get_metadata', level='relations') }}"
    var app = new Vue({el: '#app'});
  </script>
{% endblock %}
