{% extends "idbr_template.html" %}

{% block scripts %}
  {{ super() }}
  <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
{% endblock %}

{% block body %}
  {{ super() }}
  <div id="app">
    <h3>Batch Job Runtimes</h3>
    <time-view></time-view>

    <h3>Output Measurements</h3>
    <amount-view></amount-view>
  </div>
  <script src="{{ url_for('serve_data_vis', file_path='DataVis.umd.js') }}"></script>
  <link href="{{ url_for('serve_data_vis', file_path='DataVis.css') }}"
        rel="stylesheet">
  <script>
    // Vue 3 initialization
    const app = Vue.createApp({});
    
    app.use(DataVis); 

    // Set global properties
    app.config.globalProperties.$time_view_url = "{{ url_for('serve_runtime') }}";
    app.config.globalProperties.$amount_view_url = "{{ url_for('serve_stages', stage='') }}";

    app.mount('#app');
  </script>
{% endblock %}
