{% extends "indra/statements_view.html" %}
{% from "auth_macros.html" import login_overlay %}
{% from "idbr_template.html" import nav_header %}

{% block scripts %}
    {{ super() }}

    <script src="{{ url_for('static', filename='curationFunctions.js') }}"></script>
    <script>
        let CURATION_ADDR = "{{ url_for('submit_curation_endpoint', hash_val='') }}";
    </script>

{% endblock %}

{% block navbar %}
    {{ nav_header(identity) }}
{% endblock %}

{% block footer_desc %}{% include "idbr_description.html" %}{{ super() }}{% endblock %}

{% block body %}
    {{ login_overlay() }}
    {{ super() }}
{% endblock %}

{% block additional_footer %}
    {{ super() }}{% include "idbr_footer.html" %}
{% endblock %}
