{% extends "indra/template.html" %}
{% from "auth_macros.html" import login_overlay %}

{% macro nav_header(identity) -%}
    <script>
        function handle_success(type, resp_data) {
            const user_msg = document.querySelector('#user-loginout-msg');
            if (type === "login") {
                const btn = document.querySelector("#loginout-button");
                btn.innerHTML = 'Logout';
                btn.onclick = () => {return trigger_logout()};
                document.querySelector('#user-logoin');
                user_msg.innerHTML = `Welcome, ${resp_data.user_email}`;
                report_login_result(''); // clear the login result message
            }
            else if (type === "register") {
                trigger_login()
            }
            else { // logout
                const btn = document.querySelector("#loginout-button");
                btn.innerHTML = 'Login';
                btn.onclick = () => {return trigger_login()};
                user_msg.innerHTML = ""
            }
        }

        function trigger_login(type=null, data=null) {
            return login(handle_success, trigger_unchecked_login)
        }

        function trigger_unchecked_login(type=null, data=null) {
            return login(handle_success, trigger_unchecked_login, true)
        }

        function trigger_logout() {
            return logout(handle_success)
        }
    </script>
    <style>
        #loginout-button, #user-loginout-msg {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .no-horiz-pad {
            padding-left: 0;
            padding-right: 0;
        }
    </style>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="navbarCollapse" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if search_active %}acitve{% endif %}">
          <a class="nav-link" href="{{ url_for('search') }}"
             target="_blank">
            Search
          </a>
        </li>
        <li>
          <a class="nav-link" href="https://indra-db.readthedocs.io/en/latest/web_ui_doc/index.html"
             target="_blank">
            Documentation
          </a>
        </li>
        <li>
          <a class="nav-link" href="https://indra-db.readthedocs.io/en/latest/rest_api_doc/readme_link.html"
             target="_blank">
            Rest API
          </a>
        </li>
      </ul>
      <div class="col text-right no-horiz-pad">
        <span id="user-loginout-msg">
            {% if identity %}
              Welcome {{ identity['email'] }}!
            {% endif %}
        </span>
        <button class="btn btn-primary"
                onclick="return {% if identity %}trigger_logout(){% else %}trigger_login(){% endif %};"
                id="loginout-button">
          {% if identity %}
            Logout
          {%  else %}
            Login
          {% endif %}
        </button>
      </div>
    </div>
{%- endmacro %}

{% block title %}
  <a class="navbar-brand" href="#" style="padding-left: 0.5em;">INDRA Database</a>
{% endblock %}

{% block navbar %}
    {{ nav_header(identity) }}
{% endblock %}

{% block header_desc %}
  <p>{% include "idbr_description.html" %}</p>
{% endblock %}

{% block body %}
    {{ login_overlay() }}
    {{ super() }}
{% endblock %}

{% block additional_footer %}
  <p>{% include "idbr_footer.html" %}</p>
{% endblock %}
