{% extends "idbr_template.html" %}

{% block scripts %}
{{ super() }}

<!-- Vue.js setup -->

<!-- development version, includes helpful console warnings -->
<!--<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>-->
<!-- production version, optimized for size and speed -->
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

<!-- indralab vue package, sourced from either S3 or locally when developing -->
<script src="{{ vue_src }}"></script>
<link href="{{  vue_style }}" rel="stylesheet">

<style>
  {% for category, data in source_colors %}
    {% for source, font_color in data['sources'].items() %}
      .source-{{ source }} {
        background-color: {{ font_color }};
        color: {{ data['color'] }};
      }
    {% endfor %}
  {% endfor %}

  .badge-subject {
    background-color: #4a36aa;
    color: #FFFFFF;
  }
  .badge-object {
    background-color: #2d8e4c;
    color: #FFFFFF;
  }
  .badge-other {
    background-color: #606060;
    color: #FFFFFF;
  }
  .badge-source {
    font-size: 8pt;
    margin: 0;
    padding-left: 5px;
    margin-left: 1px;
    cursor: pointer;
  }

  .frozen-box {
    background-color: #f0f0f0;
    border: 1px solid #a0a0a0;
    border-radius: 2px;
    padding: 5px;
  }

  #search-reopen {
    cursor: pointer;
  }

  .nvm {
    padding-left: 0;
    padding-right: 0;
  }
</style>

{% endblock %}

{% block body %}
  {{ super() }}
  <div id="app">
    <relation-search></relation-search>
  </div>
  <script>
    Vue.prototype.$ground_url = "{{ url_for('ground') }}";
    Vue.prototype.$relation_url = "{{ url_for('expand_meta_row') }}";
    Vue.prototype.$agent_url = "{{ url_for('get_statements',
                                           result_type='agents',
                                           method='from_simple_json') }}";
    Vue.prototype.$stmt_url = "{{ url_for('get_statements',
                                          result_type='statements',
                                          method='from_agent_json') }}";
    Vue.prototype.$stmt_hash_url = "{{ url_for('get_statements',
                                               result_type='statements',
                                               method='from_hash/') }}";
    Vue.prototype.$curation_url = "{{ url_for('submit_curation_endpoint',
                                              hash_val='') }}";
    Vue.prototype.$curation_list_url = "{{ url_for('list_curations',
                                                   stmt_hash='',
                                                   src_hash='') }}".slice(0, -2);
    Vue.prototype.$stmt_types = {{ stmt_types_json }};
    Vue.prototype.$sources = {{ sources_dict }};
    var app = new Vue({el: '#app'});
  </script>
{% endblock %}
