{% extends "idbr_template.html" %}

{% block scripts %}
{{ super() }}

<!-- Vue.js setup -->

<!-- development version, includes helpful console warnings -->
<!--<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>-->
<!-- production version, optimized for size and speed -->
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

<!-- indralab vue package, sourced from either S3 or locally when developing -->
<script src="{{ vue_src }}"></script>
<link href="{{  vue_style }}" rel="stylesheet">

<style>
  {% for category, data in source_colors %}
    {% for source, font_color in data['sources'].items() %}
      .source-{{ source }} {
        background-color: {{ font_color }};
        color: {{ data['color'] }};
      }
    {% endfor %}
  {% endfor %}

  .badge-subject {
    background-color: #4a36aa;
    color: #FFFFFF;
  }
  .badge-object {
    background-color: #2d8e4c;
    color: #FFFFFF;
  }
  .badge-other {
    background-color: #606060;
    color: #FFFFFF;
  }
  .badge-source {
    font-size: 8pt;
    margin: 0;
    padding-left: 5px;
    margin-left: 1px;
    cursor: pointer;
  }

  .frozen-box {
    background-color: #f0f0f0;
    border: 1px solid #a0a0a0;
    border-radius: 2px;
    padding: 5px;
  }

  #search-reopen {
    cursor: pointer;
  }

  .nvm {
    padding-left: 0;
    padding-right: 0;
  }
</style>

{% endblock %}

{% block mid_right_styles %}
  .mid-right {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 20em;
    background: #fff;
    padding-top: 85px;
    overflow-y: auto;
  }
  .mid-right { box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); }
{% endblock %}

{% block layout_media_queries %}
  .content {
    margin-right: calc(15% + 20%);
  }

  @media (min-width: 1500px) {
    .right     { width: 15%; }
    .mid-right { width: 20%; right: 15%; }
    .content   { margin-right: calc(15% + 20%); }
    .footer    { right: calc(15% + 20%); }
  }

  @media (max-width: 1500px) {
    .right     { width: 15%; }
    .mid-right { width: 20%; right: 15%; }
    .content   { margin-right: calc(15% + 20%); }
    .footer    { right: calc(15% + 20%); }
  }

  @media (max-width: 1100px) {
    .right, .mid-right { display: none; }
    .content { margin-right: 0; }
    .footer  { right: 0; }
  }
{% endblock %}

{% block mid_right_panel %}
<div class="side-info mid-right" id="mid-right-panel">
  <h3 class="bg-white">Summary</h3>
  <p>On this page, you can search for statements from the INDRA Database by applying different filters such as agents, relation types, MeSH terms, or papers.</p>
  <h4>Examples</h4>
    <!-- Examples -->
    <span style="color:#888;">•</span>
    <span style="cursor:pointer; color:#256DC5; text-decoration:underline;"
          data-agent1="DUSP1"
          data-agent2="MAPK1"
          data-preset="s-o"
          onclick="window.dispatchEvent(new CustomEvent('indra:example', { detail: {
            agent1: this.dataset.agent1,
            agent2: this.dataset.agent2,
            preset: this.dataset.preset
          }}))">
      How does DUSP1 affect MAPK1?
    </span>

    <br/>

    <span style="color:#888;">•</span>
    <span style="cursor:pointer; color:#256DC5; text-decoration:underline;"
          data-agent1="CDK12"
          data-stmt-type="Phosphorylation"
          data-preset="s-o"
          onclick="window.dispatchEvent(new CustomEvent('indra:example', { detail: {
            agent1: this.dataset.agent1,
            stmtType: this.dataset.stmtType,
            preset: this.dataset.preset
          }}))">
      What does CDK12 phosphorylate?
    </span>

    <br/>

    <span style="color:#888;">•</span>
    <span style="cursor:pointer; color:#256DC5; text-decoration:underline;"
          data-agent1="MTOR"
          data-stmt-type="Inhibition"
          data-preset="o-s"
          onclick="window.dispatchEvent(new CustomEvent('indra:example', { detail: {
            agent1: this.dataset.agent1,
            stmtType: this.dataset.stmtType,
            preset: this.dataset.preset
          }}))">
      What is known to inhibit mTOR?
    </span>

    <br/>

    <span style="color:#888;">•</span>
    <span style="cursor:pointer; color:#256DC5; text-decoration:underline;"
          data-agent1="PIK3CA"
          data-preset="any-any"
          onclick="window.dispatchEvent(new CustomEvent('indra:example', { detail: {
            agent1: this.dataset.agent1,
            preset: this.dataset.preset
          }}))">
      Show all interactions involving PIK3CA.
    </span>

    <br/>

    <span style="color:#888;">•</span>
    <span style="cursor:pointer; color:#256DC5; text-decoration:underline;"
          data-agent1="Seliciclib"
          data-stmt-type="Inhibition"
          data-preset="s-o"
          onclick="window.dispatchEvent(new CustomEvent('indra:example', { detail: {
            agent1: this.dataset.agent1,
            stmtType: this.dataset.stmtType,
            preset: this.dataset.preset
          }}))">
      What does Seliciclib inhibit?
    </span>
</div>
{% endblock %}

{% block body %}
  {{ super() }}
  <div id="app">
    <relation-search></relation-search>
  </div>
  <script>
    Vue.prototype.$ground_url = "{{ url_for('ground') }}";
    Vue.prototype.$relation_url = "{{ url_for('expand_meta_row') }}";
    Vue.prototype.$agent_url = "{{ url_for('get_statements',
                                           result_type='agents',
                                           method='from_simple_json') }}";
    Vue.prototype.$stmt_url = "{{ url_for('get_statements',
                                          result_type='statements',
                                          method='from_agent_json') }}";
    Vue.prototype.$stmt_hash_url = "{{ url_for('get_statements',
                                               result_type='statements',
                                               method='from_hash/') }}";
    Vue.prototype.$curation_url = "{{ url_for('submit_curation_endpoint',
                                              hash_val='') }}";
    Vue.prototype.$curation_list_url = "{{ url_for('list_curations',
                                                   stmt_hash='',
                                                   src_hash='') }}".slice(0, -2);
    Vue.prototype.$stmt_types = {{ stmt_types_json }};
    Vue.prototype.$sources = {{ sources_dict }};
    var app = new Vue({el: '#app'});
  </script>
{% endblock %}
